table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    font-size: 25px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}

#prise::before{
    content: "₹";
    font-size: 1rem;
    position: relative;
    top: -0.3rem;
    padding-right: 0.1rem;
}

.delicon {
    background: url('https://img.icons8.com/color/344/edit--v1.png');
    height: 16px;
    width: 16px;
    display: block;
    /* Other styles here */
  }